# BlackStack/WachterEID Dependencies
# Core Libraries
bcrypt
requests
PyYAML
psutil
python-dotenv
tqdm
watchdog

# AI/ML Libraries  
transformers
safetensors
torch
tensorflow
keras

# Web Framework - Flask
flask
flask-restful
flask-sqlalchemy
flask-login
flask-wtf
flask-cors
flask-socketio
flask-babel
flask-mail
flask-migrate
flask-script
flask-uploads
flask-restplus
flask-bootstrap
flask-session
flask-limiter
flask-marshmallow
flask-apispec
flask-caching